<h4>{{titulo}}</h4>

<div *ngIf="administrador">
  <strong style="background-color: yellow">Eres el administrador de la webapp</strong>
</div>
<div *ngIf="!administrador">
  <strong style="background-color: red">No Eres el administrador de la webapp</strong>
</div>

<hr/>
<div *ngIf="administrador; then admin else noAdmin"></div>

<ng-template #admin>
  <button (click)="cambiar(false)">Cambiar</button>
  <strong style="background:yellow;">Eres el administador de la webapp</strong>
</ng-template>

<ng-template #noAdmin>
  <button (click)="cambiar(true)">Cambiar</button>
  <strong style="background:red;color:white;">NO ERES EL administador de la webapp</strong>
</ng-template>

<componente-hijo 
    [propiedad_uno]="'Valor propiedad 1'"
    [texto]="'Valor propiedad 2'"
    [dato]="dato_externo"
    [propiedad_cuatro]="identity" 
    (desde_el_hijo)="recibirDatos($event)"
>
</componente-hijo>

<div *ngIf="datos_del_hijo">
  <h4>{{datos_del_hijo.nombre}}</h4>
  <h4>{{datos_del_hijo.web}}</h4>
</div>