<!--The whole content below can be removed with the new code.-->
<div>
  <h2>
    {{title}}
  </h2>
  <hr>
  <nav>
    <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['active']">Home  </a> -
    <a [routerLink]="['/fruta']" [routerLinkActive]="['active']"> Fruta  </a> - 
    <a [routerLink]="['/empleados']" [routerLinkActive]="['active']">Empleado  </a> -
    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a> - 
    <a [routerLink]="['/coches']" [routerLinkActive]="['active']">Coches</a>
  </nav>
  <hr>
  <!-- <fruta></fruta> -->
  <!-- <empleados></empleados> -->
  <router-outlet></router-outlet>

